@import '../../styles/config/config';

.header {
    position: absolute;
    width: 100%;
    height: 72px;
    // background: $white;
    // box-shadow: 0 5px 30px 0 rgba(0,0,0,0.20);
    z-index: 99;

    &__wrapper {
        position: relative;
        padding: 0 24px;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;

        @include media-query($large-up) {
            grid-template-columns: 10% 80% 10%;
        }
    }

    &__logo {
        grid-column: 1/2;
        align-self: center;

        svg {
            height: 42px;
            width: auto;
        }
    }
}